.blog-post .link {
  // max-width: 250px;
  // word-wrap: break-word;
}

.blog-post .title,
.blog-post .date {
  text-align: center;
  margin: 0;
  padding: 0;
}

.blog-post .date {
  color: #555;
  margin-bottom: 1rem;
}

.blog-post .navigation {
  min-height: 60px;
}
